@white: #ffffff;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-image: url(../images/medellin.jpeg);
    color: black;
    .margenes(50px, 0px); }
  
  .jumbotron h1 {
    width: 50%;
    padding: 5px;
    border-radius: 9px;
    color: @white;
    background-color: rgba(0, 0, 0, 0.452); }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .footer-addres_icon {
    padding-right: 10px; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: dark;
    .margenes(10px, 0px);
    color: @white; }
  
  footer a {
    color: @white; }