.jumbotron {
  background-image: url(../images/medellin.jpeg);
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.jumbotron h1 {
  width: 50%;
  padding: 5px;
  border-radius: 9px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.452);
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
.footer-addres_icon {
  padding-right: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: dark;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
